body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
  }
  
  a {
    text-decoration: none;
    color: #252525;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .btn {
    text-transform: uppercase;
    margin: 35px auto;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 250px;
    position: relative;
  }
  
  .btn:hover {
    border-color: rgba(0,0,0,.5);
    text-decoration: none;
  }
  
  .btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 2px;
  }
  
  .center {
    text-align: center;
  }
  
  .active {
    font-weight: bold;
  }
  .navbar{
    flex-direction: row !important; 
    background-color: beige;
    height: 65px;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
  }
  
  .nav li:first-child {
    padding-left: 0;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
  }
  
  .avatar {
    height: 50px;
    border-radius: 25px;
    margin: 10px;
  }
  
  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
  select{
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #2cbbbb;
  background: transparent;
  margin-bottom: 30px;
  font: 16px "Oswald", Helvetica, sans-serif;
  height: 45px;
  transition: 0.5ms ease-in-out;
  }

  form{
    font-family: "Open Sans Condensed", arial, sans;
  width: 35%;
  padding: 30px;
  background: #ffffff;
  margin-left: 32%;
  margin-top: 5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  }
  .parentTabs{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 37%;
    margin-top: 6%;
   
  }
  .tab1{
flex: 0.5;

  }
  .tab2{
flex: 0.5;
  }
  .card{
    width: 20rem;
    margin-left:35%;
    margin-top:2%;
    box-shadow: 3px 2px 3px grey;
    text-align: center;
    font-style: italic;
  }
  .activeBtn{
    background-color: #0275d8;
  }
  .parentContainer{
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 52%;
    margin-left: 25%;
    box-shadow: 2px 2px 2px grey
  }
  .header{
    flex:.5;
    font-family: fantasy;
    text-align: center
  }
  .imageContainer{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: space-around;
  }
  .questionContainer{
    flex:1.5;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .progressBarContainer{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }